

body {
    margin: 0;
}

p {
    font-family: 'cocogoose thin-trial', sans-serif;
    line-height: 1;

}

h3 {
    font-family: 'cocogoose pro semilight', sans-serif;
    size: 15px;
    line-height: 1;
    ;

}

h2  {
    font-family: 'cocogoose pro semilight', sans-serif;
}

/* Desde aca arrancan los estilos del nav  */
header {
    width: 100%;
    background-color: aliceblue;
    box-shadow: 0px 6px 67px rgba(0, 0, 0, 0.16);
    left: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: 0.4s;
}


.container-nav  {
    display: flex;
    flex-direction: row;
    justify-content: end;
    box-shadow: 0px 6px 67px rgba(0, 0, 0, 0.16);
    
    
}


.container-li {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.button-nav {
        width: 170px;
        height: 43px;
        border-radius: 30px;
        background: #752dfc;    
        color: #ffffff; 
        margin: 10px;
        border: none; 
        cursor: pointer; 
        font-size: 16px; 
        border: 15px #752dfc; /* Establecemos un borde transparente por defecto */
        transition: border-color 0.3s; /* Agregamos una transición suave para el cambio de color */
}   

.button-nav:hover {
    background-color: #ffffff;
    color: #752dfc;
    border-color: #752dfc;
    
}

ul {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 5px;
}

a {
    text-decoration: none;
    list-style: none;
    font-family: 'cocogoose pro semilight', sans-serif;
    color: black;
    font-size: 12px;
}

a:hover {
    color: rgb(139, 139, 139);
    font-family: 'cocogoose pro semilight', sans-serif;
} 

h1{
    color: black;
    font-size: 50px;
    font-family:'cocogoose', sans-serif;
    line-height: -5px;
}



/* aca terminan los estilos del Nav */
/* Arrancan los estilos de: sobre mi */

.container-sobremi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.texto-sobremi {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

/* Termina sobre mi */

/* Arrancan los estilos de: Conocimiento */

h2{
    color: black;
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    line-height: 1;

}

.section-conocimiento {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(232, 232, 232, 0.189);
    padding-top: 80px;
    
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: ;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.16);
    margin: 40px;
    transition: 0.2s

}

.card img {
         max-width: 80%;
         height: auto;
}
    


.card:hover {
    border: 1px solid #752dfc;
}

.box {

}

img-card {
    display: block;
    width: 100%;
    
}

.info-conocimiento{
    display: flex;
    justify-content: center;
}
.text-conocimiento {
    max-width: 400px;
}
/* Termina seccion conocimiento */
/* arranca seccion cita */

.container-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(101, 22, 197);
    padding: 100px;
    align-items: center;
    
}


blockquote {
    text-align: center;
    font-family:'cocogoose light-trial', sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    max-width: 800px;

}    

.h2-cita {
    color: #ffffff;
    font-size: 26px;
    font-family:'cocogoose light-trial', sans-serif;
}

footer {
background-color: #752dfc;
text-align: center;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.footer-icons{
    padding: 10px;
    margin-top: 15px;
}

.fab {
    margin: 10px;
    color: #752dfc ;
    font-size: 2rem;
    background-color: #ffffff;
    background-size: 3rem;
    border-radius: 60px;
    text-align: center;
    padding: 10px;
    transition: .3s ease;
}
.fab:hover {
    border: 2px solid #ffffff;
    background-color: #752dfc;
    color: white;
    transform: translateY(-15%); 
}

.footer-links a {
    padding: 5px;

}

.footer-links a:hover {
    color: white;
}